
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1>Very Marry Christmas, Santa!</h1>
        <p>Welcome to your new Sinple Page Application to manage Kids.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>This App was prepared by Krzysztof Szczurowski for Assignment 2 COMP 3973</p>
      <p>Below is a list of techologies used:</p>
      <ul>
        <li><a href='https://get.asp.net/'>ASP.NET Core 2.1</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
        <li><a href='https://angular.io/'>Angular 6</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code, in VS2017</li>
        <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
        <li><a href='https://www.bingmapsportal.com/'>Bing Maps</a> to display childs's location</li>
      </ul>

      <p>Useful details:</p>
      <ul>
        <li><strong>Navigation</strong>. Click <em>Children</em>to return to this page.</li>
        <li><strong>Accounts:</strong>. User Name: <strong>santa</strong> with default password (specified in requirements) as ADMI rights. Any other account is of type CHILD.</li>
        <li><strong>Notes:</strong> Application has number of useful alert notification and JSON objects displayed to monitor current state of variables and forms. In PROD system this would be removed and sub with logging framework.</li>
      </ul>
      <p>User can LOG OUT via <strong>Children</strong> tab => left pane. User can SEE current logged used in the top part of <strong>Children</strong> pane.</p>
    </div>
  </div>
</div>
